.feynman__title {
  width: 648px;
  font-size: 120px;
  padding: 100px 0 70px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.15;
  font-family: 'Inter','Helvetica Neue', Arial, sans-serif;
  font-weight: bold;
}
