.khan {
  background-color: #f2f2f2;
  padding-top: 100px;
}

.khan__container {
  width: 80%;
  margin: 0 auto;
}

.khan__author {
  line-height: 42px;
  font-size: 30px;
}
.khan__title {
  padding-bottom: 50px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}
.khan__quote {
  width: 790px;
  padding-bottom: 36px;
  line-height: 34px;
  font-size: 24px;
}
.khan__quote-author {
  padding-bottom: 10px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}
.khan__quote-author-subline {
  padding-bottom: 68px;
  line-height: 1.15;
  font-size: 24px;
}

.khan__book-container {
  display: flex;
}
.khan__book-pic {
  background-image: url(../../images/khan-book.jpg);
  width: 608px;
  height: 620px;
  margin-right: 48px;
  background-size: cover;
}
.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  color: #2f80ed;
}
