.footer__column {
  position: relative;
}

.footer__column-heading {
  margin-bottom: 20px;
  font-weight: bold;
  line-height: 18px;
  font-weight: bold;
}

.footer__column-links {
  margin-bottom: 16px;
  list-style-type: none;
  padding: 0;
}

.footer__column-link {
  margin-bottom: 10px;
}

