/*Импортируем CSS для блоков сайта*/
@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

@import url(../blocks/logo/logo.css);
@import url(../blocks/logo/_place/logo_place_header.css);
@import url(../blocks/logo/_place/logo_place_footer.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__main-illustration/header__main-illustration.css);
@import url(../blocks/header/__main-illustration/_image/header_image_two-again.css);
@import url(../blocks/header/__title/header__title.css);
@import url(../blocks/header/__subtitle/header__subtitle.css);
@import url(../blocks/header/__square-pic/header__square-pic.css);
@import url(../blocks/header/__link/header__link.css);

@import url(../blocks/two-columns/two-columns.css);
@import url(../blocks/two-columns/__brief/two-columns__brief.css);
@import url(../blocks/two-columns/__main-text/two-columns__main-text.css);
@import url(../blocks/two-columns/__paragraph/two-columns__paragraph.css);
@import url(../blocks/two-columns/__span-accent/two-columns__span-accent.css);


@import url(../blocks/section-title/section-title.css);
@import url(../blocks/section-title/_theme/section-title_theme_dark.css);

@import url(../blocks/section-subtitle/section-subtitle.css);
@import url(../blocks/section-subtitle/_theme/section-subtitle_theme_dark.css);

@import url(../blocks/cards/cards.css);
@import url(../blocks/cards/__titile/cards__title.css);
@import url(../blocks/cards/__description/cards__description.css);
@import url(../blocks/cards/__item/cards__item.css);
@import url(../blocks/cards/__image/cards__image.css);

@import url(../blocks/table/table.css);
@import url(../blocks/table/__cell/table__cell.css);
@import url(../blocks/table/__cell/_theme/table__cell_theme_dark.css);
@import url(../blocks/table/__heading/table__heading.css);
@import url(../blocks/table/__text/table__text.css);

@import url(../blocks/feynman/feynman.css);
@import url(../blocks/feynman/__link/feynman__link.css);
@import url(../blocks/feynman/__title/feynman__title.css);
@import url(../blocks/feynman/__subtitle/feynman__subtitle.css);

@import url(../blocks/khan/khan.css);

@import url(../blocks/resources/resources.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__columns/footer__columns.css);
@import url(../blocks/footer/__author/footer__author.css);
@import url(../blocks/footer/__column/footer__column.css);
@import url(../blocks/footer/__social-links/footer__social-links.css);

@import url(../blocks/video/__iframes/video__iframes.css);
@import url(../blocks/video/__iframe/video__iframe.css);

/*Анимация поворта*/
@keyframes rotation {
  from {
    transform:rotate(0deg)
  }
  to {
    transform:rotate(360deg)
  }
};

* {
  margin: 0;
  padding: 0;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  font-weight: normal;
  color: #000;
}

.description {
  margin-top: 100px;
}

.techniques {
  width: 80%;
  margin: 0 auto;
}

.digits {
  padding-bottom: 100px;
}

.kaufman {
  background-color: #1f1f1f;
  padding-bottom: 90px;
  position: relative;
  overflow: hidden;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-image: url(../images/triangle.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: -210px;
  animation: rotation linear 20s infinite;
}

.oakley {
  background-color: #f2f2f2;
  padding: 160px 0 100px;

}
